@media (max-width: 1000px) {
	header {
		padding: 2.5rem 2rem;
		img {
			width: 120px;
		}
	}
	section {
		padding: $padding-sm;
	}
	#intro {
		.intro-img {
			img {
				width: 100%;
			}
		}
	}
	#features {
		flex-direction: column;
		justify-content: center;
		.features-item {
			width: 90%;
			padding: 0;
		}
	}
	#productive {
		flex-direction: column;
		.productive-img {
			img {
				width: 80%;
			}
		}
		.productive-content {
			margin-top: 2rem;
			padding: 0;
			h2 {
				font-size: 30px;
			}
		}
	}
	#testimonial {
		flex-direction: column;
		.testimonial-item {
			margin: 0;
			margin-top: 3.5rem;
			width: 80%;
		}
	}
	#contact {
		.contact-container {
			width: 80%;
			padding: $padding-sm;
			form {
				flex-direction: column;
				input {
					width: 80%;
					margin: 0;
					padding: 10px 10px;
				}
				button {
					width: 83%;
					margin: 0;
					margin-top: 1rem;
				}
			}
		}
	}
	#contact-info {
		padding: $padding-footer-tablet;
		grid-template-columns: 100%;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 'logo' 'location' 'contacts' 'links' 'social' 'attribution';
		.location {
			justify-content: center;
			margin: 0;
			text-align: justify;
			div {
				height: 20px;
				width: 15px;
				margin: 0;
				margin-bottom: 60px;
			}
			p {
				width: 100%;
			}
		}
		.contact-info-logo {
			display: flex;
			justify-content: center;
		}
		.phone-email {
			justify-content: center;
			margin-bottom: 20px;
		}
		.social-links {
			justify-content: center;
		}
	}
}
